<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bvg-dev-currency-feeder-af.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/fd68ac2f-2a12-48cd-9883-b03bf143990d/resourceGroups/iql-development-universal-rg/providers/Microsoft.Web/sites/bvg-dev-currency-feeder-af</ResourceId>
    <UserName>$bvg-dev-currency-feeder-af</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://bvg-dev-currency-feeder-af.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>